.task-style{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px 50px;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: 1px 0px 2px 1px #fff;
  max-width: 60%;
  width:600px;
}
.completed{
  text-decoration: line-through;
}
.shadow{
  margin-top: 20px;
  box-shadow: 1px 10px 100px 10px gray;
  border-radius: 10px;
}